header,figure{
    text-align: center
}
header.mainpage{
background-color: darkslategray;
color:white;
font-family: 'Prata', serif;
font-size: 2em;
padding:5px 100px 5px 100px;
}

body>main{
  font-family: 'Alegreya', serif;
  font-size: larger;
  padding:0px 200px 0px 200px ;
}
footer {
font-style: italic;
padding:20px 200px 20px 200px;
background-color: darkslategray;
color:white;
font-family: 'Prata', serif;
}
a{
    color: mediumseagreen
}
@media (max-width:1000px){
body>main,footer,header.mainpage{
   padding:0px 0px 0px 0px ;
}
h1{
font-size: smaller
}
}
