header,figure{
    text-align: center
}
header.mainpage{
background-color: darkslategray;
color:white;
font-family: 'Prata', serif;
font-size: 2em;
}

body>main{
  font-family: 'Alegreya', serif;
  font-size: larger;
  padding:0px 200px 0px 200px ;
}
footer {
    font-size: 1em;
    font-style: italic;
    padding:0px 200px 0px 200px
}
a{
    color: seagreen
}
@media (max-width:1000px){
body>main,footer{
   padding:0px 0px 0px 0px ;
}
h1{
font-size: smaller
}
}
