figure.mainpage{
    text-align: center
}
header{
background-color: darkslategray;
color:white;
text-align: center;
font-family: 'Prata', serif;
font-size: 2em;
margin: 5px;
padding: 10px
}

main{
  font-family: 'Alegreya', serif;
  font-size: larger;
  padding: 0px 200px 0px 200px;

}
@media (max-width:800px){
    header>h1{
    font-size: 1em;
}
}
footer {
    padding: 0px 200px 0px 200px;
    font-size: smaller;
    font-style: italic
}
a{
    color: seagreen
}
